**制作数据集**

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
all_df = pd.read_excel('titanic3.xls')

In [3]:
cols = ['survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']
all_df = all_df[cols]

In [4]:
msk = np.random.random(len(all_df)) < 0.8
train_df = all_df[msk]
test_df = all_df[msk]

In [5]:
def PreprocessData(raw_df):
    df = raw_df.drop(['name'], axis = 1)
    
    age_mean = df['age'].mean()
    df['age'] = df['age'].fillna(age_mean)
    
    fare_mean = df['fare'].mean()
    df['fare'] = df['fare'].fillna(fare_mean)
    
    df['sex'] = df['sex'].map({'famale':0, 'male':1})
    
    ndarray = df.values
    
    Label = ndarray[:, 0]
    Features = ndarray[:, 1:]
    
    minmax_scale = preprocessing.MinMaxScaler((0,1))
    scaledFeatures = minmax_scale.fit_transform(Features)
    
    return scaledFeatures, Label

In [6]:
train_Feature, train_Label = PreprocessData(train_df)
test_Feature, test_Label = PreprocessData(test_df)

**建立多层感知器模型**

In [7]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

2022-05-05 22:45:25.418602: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

In [8]:
model = Sequential()

2022-05-05 22:45:26.452175: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcuda.so.1
2022-05-05 22:45:26.471521: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 0 with properties:
pciBusID: 0000:a1:00.0 name: NVIDIA RTX A5000 computeCapability: 8.6
coreClock: 1.695GHz coreCount: 64 deviceMemorySize: 23.69GiB deviceMemoryBandwidth: 715.34GiB/s
2022-05-05 22:45:26.471549: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2022-05-05 22:45:26.474373: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublas.so.11
2022-05-05 22:45:26.474409: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublasLt.so.11
2022-05-05 22:45:26.475259: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcufft.so.10
2022-05-05 22:45:26.475492: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcurand.so.10
2022-05-05 22:45:26.476240: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusolver.so.11
2022-05-05 22:45:26.476803: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusparse.so.11
2022-05-05 22:45:26.476945: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudnn.so.8
2022-05-05 22:45:26.478645: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1871] Adding visible gpu devices: 0
2022-05-05 22:45:26.478969: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-05 22:45:26.485684: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 0 with properties:
pciBusID: 0000:a1:00.0 name: NVIDIA RTX A5000 computeCapability: 8.6
coreClock: 1.695GHz coreCount: 64 deviceMemorySize: 23.69GiB deviceMemoryBandwidth: 715.34GiB/s
2022-05-05 22:45:26.487505: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1871] Adding visible gpu devices: 0
2022-05-05 22:45:26.487544: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2022-05-05 22:45:26.955533: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1258] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-05-05 22:45:26.955561: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1264]      0
2022-05-05 22:45:26.955566: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1277] 0:   N
2022-05-05 22:45:26.958108: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1418] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 21095 MB memory) -> physical GPU (device: 0, name: NVIDIA RTX A5000, pci bus id: 0000:a1:00.0, compute capability: 8.6)

In [9]:
model.add(Dense(units = 200, input_dim = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [10]:
model.add(Dense(units = 200, kernel_initializer = 'uniform', activation = 'relu'))

In [11]:
model.add(Dense(units = 1,kernel_initializer = 'uniform', activation = 'sigmoid'))

In [12]:
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [13]:
train_history = model.fit(train_Feature, train_Label, validation_split = 0.2, epochs = 50, batch_size = 10,verbose = 2)

2022-05-05 22:45:27.449462: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)
2022-05-05 22:45:27.451848: I tensorflow/core/platform/profile_utils/cpu_utils.cc:114] CPU Frequency: 2794895000 Hz

Epoch 1/50

2022-05-05 22:45:40.335356: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublas.so.11
2022-05-05 22:45:40.926015: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublasLt.so.11
2022-05-05 22:45:40.926091: I tensorflow/stream_executor/cuda/cuda_blas.cc:1838] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

83/83 - 14s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 2/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 3/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 4/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 5/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 6/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 7/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 8/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 9/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 10/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 11/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 12/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 13/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 14/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 15/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 16/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 17/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 18/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 19/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 20/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 21/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 22/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 23/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 24/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 25/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 26/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 27/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 28/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 29/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 30/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 31/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 32/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 33/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 34/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 35/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 36/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 37/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 38/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 39/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 40/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 41/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 42/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 43/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 44/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 45/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 46/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 47/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 48/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 49/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107
Epoch 50/50
83/83 - 0s - loss: nan - accuracy: 0.5681 - val_loss: nan - val_accuracy: 0.8107

In [14]:
#'survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare'
#Jack:[0, 'Jack', 3, 'male', 23, 1, 0, 5.00]
#Rose:[1, 'Rose', 1, 'female', 20, 1, 1, 100])
Jack = pd.Series([0, 'Jack', 3, 'male', 23, 1, 0, 5.00])
Rose = pd.Series([1, 'Rose', 1, 'female', 20, 1, 1, 100])

In [15]:
#创建Jack和Rose的DataFrame格式的数据
JR_df = pd.DataFrame([list(Jack), list(Rose)], columns=['survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare'])

In [16]:
#将JR_df添加到数据集all_df的末尾
all_df = pd.concat([all_df, JR_df])

In [17]:
#查看all_df最后两项，分别放置的是Jack和Rose的信息
all_df[-2:]

   survived  name  pclass     sex   age  sibsp  parch   fare
0         0  Jack       3    male  23.0      1      0    5.0
1         1  Rose       1  female  20.0      1      1  100.0

In [18]:
all_Features, Label = PreprocessData(all_df)

In [19]:
all_probability = model.predict(all_Features)

In [20]:
all_probability[-5:]
all_probability[:5]
all_probability[-2:]

array([[nan],
       [nan]], dtype=float32)

In [21]:
all_df.insert(len(all_df.columns), 'probability', all_probability)

In [22]:
all_df[-2:]

   survived  name  pclass     sex   age  sibsp  parch   fare  probability
0         0  Jack       3    male  23.0      1      0    5.0          NaN
1         1  Rose       1  female  20.0      1      1  100.0          NaN

In [23]:
#查看下哪些乘客的生还率很高，但是最终却遇难的，考虑设置生还率>90%，但是遇难的乘客
all_df[(all_df['survived'] == 0) & (all_df['probability'] > 0.9)]

Empty DataFrame
Columns: [survived, name, pclass, sex, age, sibsp, parch, fare, probability]
Index: []